
/* NavBar */

.navbar-nav .nav-item .nav-link {
    color: #000000;
    font-size: 1.1rem;
}

@media screen and (min-width: 1024px) {
    .navbar-nav .nav-item .nav-link {
        padding: 0 1 rem;
    }
    
}

.navbar-nav .nav-item {
    padding: 0 1rem;
}


@media screen and (min-width: 576px) {
    section.hero{
        text-align: center;
    }

    section.home img{
        width: 70%;
    }
}

:root{
    --hover-color:#37a1f2; 
}

.navbar-brand {
    font-size: 30px;
    color: #f0f3fd;
    font-weight: 700;
    margin-right: auto;
    letter-spacing: 1px;
}

.navbar-brand span {
    color: var(--hover-color);
}


.navbar-nav .nav-item a:hover{
    
    color: #37a1f2;
}


.navbar-nav .nav-item:hover .nav-link {
    
    color: #37a1f2; 
}

.navbar-nav .nav-item.active:hover .nav-link {
    
    color: #37a1f2; 
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
} 



.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #37a1f2;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #37a1f2;
    margin: 5px 15px 25px 0;
    transition: .5s;
    text-decoration: none;

}

.social-media a:hover{
    background: #37a1f2;
    color: #f0f3fd;
}

.btn {
    display: inline-block;
    padding: 11px 32px;
    background: #37a1f2;
    border: 2px solid #37a1f2;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #f0f3fd;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #37a1f2;
}  

/* Mobile Screen for Home Page text */
@media (max-width: 767px) {
  
    h3 {
        font-size: 18px; 
        margin-top: 30px;
    }

    h1 {
        font-size: 24px;
    }
}


.container h3 span{
    color: #37a1f2;
    cursor: pointer;
    display: inline-block;
}

.container h3 span:hover{
    animation: rubberBand 1s;
}

@keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1.25,.75,1);
    }
    45%{
        transform: scale3d(.75,1,1);
    }
    60%{
        transform: scale3d(1.2,.8,1);
    }
    75%{
        transform: scale3d(1.85,.95,1);
    }
    100%{
        transform: scale3d(1,1,1);
    }

}



#projects{
    margin-top: 30px;
    background: #000000;
}






