/* Google Font Import - Poppins - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* CSS Preloader */
.blur {
    overflow: hidden;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none; /* This allows interaction with elements behind the overlay */
  }
  
  .overlay .spinner {
    --d: 24.6px;
    width: 4.5px;
    height: 4.5px;
    border-radius: 50%;
    color: #633b2a;
    box-shadow: calc(1*var(--d)) calc(0*var(--d)) 0 0,
                calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1.1px,
                calc(0*var(--d)) calc(1*var(--d)) 0 2.2px,
                calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
                calc(-1*var(--d)) calc(0*var(--d)) 0 4.5px,
                calc(-0.707*var(--d)) calc(-0.707*var(--d)) 0 5.6px,
                calc(0*var(--d)) calc(-1*var(--d)) 0 6.7px;
    animation: spinner-a90wxe 1s infinite steps(8);
  }
  
  @keyframes spinner-a90wxe {
    100% {
      transform: rotate(1turn);
    }
  }


/* Nav Bar */ 

.navbar-custom {
    background-color: #ffffff;
}
.navbar-brand:hover{
    color: #A76D4D;
}

.navbar {
    background-color: #ffffff;
}

.navbar-brand{
    font-size: 1.6rem;
    color: #633b2a;;
}

.nav-link .active {
    color: #633b2a;
    font-size: 1.2rem;
}

.navbar-nav .nav-link {
    color: #633b2a !important;
    font-size: 1.4rem;
}

.navbar-nav .nav-item {
    padding: 0 .5rem;
}

.navbar-nav .nav-item a:hover{
    text-shadow: 0px 0px 10px #A76D4D;
    color: #633b2a !important;
}


.navbar-nav .nav-item:hover .nav-link {
    color: #633b2a;
}

.navbar-nav .nav-item.active:hover .nav-link {
    
    color: #633b2a; 
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
} 

.dark-light i{
    display: flex;
    font-size: 24px;
    cursor: pointer;
    color: #633b2a !important; 

}
.dark-light i:hover{
    color: #000000 !important; 
    
}




 /* Testing Navbar */



 /* Colors */
 :root{
    --body-color: #E4E9F7;
    --nav-color: #633b2a;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --social-media-border: 2px solid #000000;
    --auto-input-color: #000000;
    --Hello-color: #000000;
    --main-text2-color: #000000;
    --h3-fweight: 100;
    --main-text2-p: #633b2a;
    --btn-border: 2px solid #000000;
    --btn-color: #f0f3fd;
    --primary-color: #f0f3fd;
    --secondary-color: #f0f3fd;
    --outline-color: none;
    --h3-text-color: #000000;
    --about__skills-title: #000000;
    --h1-font-size: #000000;
    --first-color: #000000;



 }
 

body.dark{
    --body-color: #18191A;
    --nav-color: #633b2a;
    --side-nav: #242526;
    --text-color: #FFF;
    --search-bar: #242526;
    --hero-img-url: url('path/to/your/image.jpg');
    --social-media-text-color: #ffffff;
    --social-media-border: 2px solid #ffffff;
    --auto-input-color: #ffffff;
    --Hello-color: #ffffff;
    --main-text2-color: #ffffff;
    --h3-fweight: 100;
    --main-text2-p: #ffffff;
    --btn-border: 2px solid #f0f3fd;
    --btn-color: #f0f3fd;
    --primary-color: #18191a;
    --secondary-color: #633b2a;
    --h3-text-color: #ffffff;
    --outline-color: #000000;
    --about__skills-title: #ffffff;
    --h1-font-size: #ffffff;
    --first-color: #ffffff;

}


.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchBox {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchBox i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;

}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;

}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;

}

.searchBox i.cancel {
    opacity: 0;
    pointer-events: none;
    
}

.searchBox.active i.cancel {
    opacity: 1;
    pointer-events: autoe;
    

}
.searchBox.active i.search {
    opacity: 0;
    pointer-events: none;
    
}









  /* Home Page Section */
  

  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100vh;
    background: var(--primary-color);
    background: -webkit-linear-gradient(360deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    background: linear-gradient(360deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}




section.hero {
    height: 100vh;
    overflow: hidden;
    padding-top: 72px;
}


section[class^="container"] {
    padding: 4rem 2rem;
}



h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    color: var(--auto-input-color);
    
    
}

code {
    font-size: 2.3rem;
    color: var(--Hello-color);
}


.container h3 span{
    text-shadow: 0px 0px 10px #633b2a;
    font-family: "Poppins", sans-serif;
    color: #633b2a;
    cursor: pointer;
    display: inline-block;
    font-weight: var(--h3-fweight);
    color: var(--h3-text-color);
    text-shadow:
    -1px -1px 0 var(--outline-color), 
    -1px -1px 0 var(--outline-color), 
    -1px -1px 0 var(--outline-color), 
    1px 1px 0 var(--outline-color);   
    


}



.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: var(--social-media-border);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 20px;
    color: var(--social-media-text-color);
    margin: 5px 15px 25px 0;
    transition: .5s;
    text-decoration: none;

}

.social-media a:hover{
    background: #633b2a;
    color: #f0f3fd;
}

.btn {
    display: inline-block;
    padding: 11px 32px;
    background: #633b2a;
    border: var(--btn-border);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: var(--btn-color);
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
}




/* Mobile Reponsive Device */
@media (max-width: 575px) {
    code {
      font-size: 1.9rem;
    }
    section.hero{
        text-align: center;
    }
    .auto-input{
        font-size: 2.3rem;
    }
  }


  /*  Tablet Responsive Device */
@media (max-width: 768px) {
    code {
        font-size: 1.5rem;
      }
      .auto-input{
        font-size: 1.6rem;
    }
    
    
}

/* Small Laptops/Desktop Monitor Responsive Device */
@media screen and (min-width: 1024px) {
    /* .navbar-nav .nav-item {
      padding: 0 0.5rem;
    } */
    section.hero img {
        width: 100%;  
    }

    code {
        font-size: 2.5rem;
      }

    .auto-input{
        font-size: 3rem;
    }

    section[class^="container"] {
        padding: 4rem;
       }
    
  }

  
/* About Me Section */

section.about{
    height: auto;
    overflow: hidden;
    background: var(--body-color);
}

.perfil__img{
    height: 350px;
    width: 350px;
}
.about__page{
    padding-bottom: 4rem;
}

.about_perfil{
    justify-self: center;
}

.about__content{
    row-gap: 4rem;
    
}

.about__data{
    row-gap: 2rem;
}

.about__info{
    row-gap: .75rem;
    text-align: center;
}

.about__profession,
.about__description{
    color: var(--h1-font-size);
}

.about__profession {
    color: var(--h1-font-size);
}

.about_description span{
    color: var(--first-color);
}

.about__button{
    justify-self: center;
}

.about__skills-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--about__skills-title);
}

.about__skills-img{
    width: 70px;
    transition: transform .4s;
}

.about__skills-img:hover{
    transform: translateY(-.5rem);
}

.about__skills-content{
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    gap: 2rem 1.5rem;
}

.section__title{
    color: var(--auto-input-color);
}

.section__title span{
    color: #633b2a;
    font-weight: 700;
}

.section__title{
    margin-top: 120px;
}

.about__skills-title {
    margin-top:50px;
}



/* Project Section */


section.portfolio {
    height: auto;
    overflow: hidden;
}

.portfolio{
    background: #22282f;
    background: -webkit-linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    background: linear-gradient(179deg, #22282f 0%, #633b2a 100%);
}

.portfolio-box h3{
    background: -webkit-linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    background: linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.portfolio-box .portfolio-content p{
    color: #22282f;
}

.main-text h2 {
    margin-top: 100px;
    color: #ffffff;
  }

.filter-buttons{
  text-align: center;
  padding: .5rem;
  margin-bottom: 2rem;
}

.filter-buttons button{
    background: #ffffff;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    box-shadow: rgba(60,64,67,0,3)0px 1px 2px 0,
    rgba(60,64,67,0,.15)0px 2px 6px 2px;
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;


}

.filter-buttons button:hover{
    background: #22282f;
    background: -webkit-linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    background: linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    color: #fff;
    
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(370px, 1fr)); 
    gap: 1rem;
    
}

.portfolio-img img{
    display: block;
    width: 100%;
    height: 160px;

    margin-bottom: 30px;

}

.portfolio-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    box-shadow: rgba(0,0,0,0.18)0px 2px 4px;
    border-radius: 10px;
    transition: all .3s ease;
}



.portfolio-content{
    width: 100%;
    padding-left: .5rem;
    padding-bottom: .5rem;

}

.portfolio-box{
    background: #f0f3fd;
    border: 11pxpx solid #000000;
}

.portfolio-img{
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-box:hover img{
    transform: scale(1.1);
    }


.portfolio-content a.readMore{
    padding: 8px 12px;
    font-size: .8rem;
}

.readMore {
    background: #22282f;
    background: -webkit-linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    background: linear-gradient(179deg, #22282f 0%, #633b2a 100%);
    box-shadow: rgba(0,0,0,1)0px 1px 3px 0,
                rgba(0,0,0,0,0.06)0px 1px 2px 0px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 1rem;
    font-weight: 500;
    color: #000;
    margin-right: .8rem;
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
}

.readMore:hover {
    background: #633b2a;
}


.portfolio-content p{
    font-size: .9rem;
    color: var(--font-color);
    margin: .5rem 0 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
}

#portfolio .container {
    margin-bottom: 20px;
}

/*  Mobile */


@media (max-width: 767px) {
    .filter-buttons button {
        flex: 1 1 22%;
        margin: 5px;
        max-width: 150px;
        text-align: center;
        font-size: 0.4em;
        transition: .3s;
      }
  }


/* Contact Section */
section.contact {
    height: auto;
    overflow: hidden;
    background: var(--body-color);
}




.main-text2 h2 {
    margin-top: 120px;
    color: var(--main-text2-color);
    font-weight: 700;
    font-size: 50px;
  }

.main-text2 h2 span {
    color: #633b2a;
}

.main-text2 p{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--main-text2-p);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #c3cad5;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
   
}

.contact-form form{
    position: relative;
    width: 600px;
}

form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #633b2a;;
    background: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #000000;
}



.send-btn {
    margin-bottom: 20px ;
    background: #633b2a;
    color: #ffffff;
    font-weight: 700;

  }

.send-btn:hover {
    background: #ffffff;
    color: #000000;
    font-weight: 700;
}   



/* Mobile responsiveness using media queries */
@media (max-width: 768px) {
    .contact-form {
      max-width: 100%;
      padding: 0 20px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
    }
  }


/* Footer */
.footer{

    padding: 10px 18%;
    background: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2;
    background: #1b1f24;
}

.copyright p{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}




